* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: #a0b8b8; 
  background: -webkit-linear-gradient(to bottom, #bed2d2, #809494);
  background: linear-gradient(to bottom, #bed2d2, #809494);
}

header { margin: 30px 0; }

.contenido {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: whitesmoke;
}

.agregar-gasto { margin-top: 30px;}
.restante { margin-top: 25px;}
.gastado { margin-bottom: 30px;}